<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReadObjectHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="VersionHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="UpdateObjectHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="DeleteObjectHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CreateObjectHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CloneObjectHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="InvokeActionHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="InvokeProcessHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="FindCompanyHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="AttachmentServiceHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="ReportServiceHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="FindObjectsHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="SystemInspectorHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="GeoLocateHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="InvokePaceConnectHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="TransactionServiceHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/rpc/company:public/services/ReadObject"
        binding="basicHttpBinding" bindingConfiguration="ReadObjectHttpBinding"
        contract="efipaceservices.ReadObjectPortType" name="ReadObjectHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/Version"
        binding="basicHttpBinding" bindingConfiguration="VersionHttpBinding"
        contract="efipaceservices.VersionPortType" name="VersionHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/UpdateObject"
        binding="basicHttpBinding" bindingConfiguration="UpdateObjectHttpBinding"
        contract="efipaceservices.UpdateObjectPortType" name="UpdateObjectHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/DeleteObject"
        binding="basicHttpBinding" bindingConfiguration="DeleteObjectHttpBinding"
        contract="efipaceservices.DeleteObjectPortType" name="DeleteObjectHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/CreateObject"
        binding="basicHttpBinding" bindingConfiguration="CreateObjectHttpBinding"
        contract="efipaceservices.CreateObjectPortType" name="CreateObjectHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/CloneObject"
        binding="basicHttpBinding" bindingConfiguration="CloneObjectHttpBinding"
        contract="efipaceservices.CloneObjectPortType" name="CloneObjectHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/InvokeAction"
        binding="basicHttpBinding" bindingConfiguration="InvokeActionHttpBinding"
        contract="efipaceservices.InvokeActionPortType" name="InvokeActionHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/InvokeProcess"
        binding="basicHttpBinding" bindingConfiguration="InvokeProcessHttpBinding"
        contract="efipaceservices.InvokeProcessPortType" name="InvokeProcessHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/FindCompany"
        binding="basicHttpBinding" bindingConfiguration="FindCompanyHttpBinding"
        contract="efipaceservices.FindCompanyPortType" name="FindCompanyHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/AttachmentService"
        binding="basicHttpBinding" bindingConfiguration="AttachmentServiceHttpBinding"
        contract="efipaceservices.AttachmentServicePortType" name="AttachmentServiceHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/ReportService"
        binding="basicHttpBinding" bindingConfiguration="ReportServiceHttpBinding"
        contract="efipaceservices.ReportServicePortType" name="ReportServiceHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/FindObjects"
        binding="basicHttpBinding" bindingConfiguration="FindObjectsHttpBinding"
        contract="efipaceservices.FindObjectsPortType" name="FindObjectsHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/InvokePaceConnect"
        binding="basicHttpBinding" bindingConfiguration="InvokePaceConnectHttpBinding"
        contract="efipaceservices.InvokePaceConnectPortType" name="InvokePaceConnectHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/SystemInspector"
        binding="basicHttpBinding" bindingConfiguration="SystemInspectorHttpBinding"
        contract="efipaceservices.SystemInspectorPortType" name="SystemInspectorHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/GeoLocate"
        binding="basicHttpBinding" bindingConfiguration="GeoLocateHttpBinding"
        contract="efipaceservices.GeoLocatePortType" name="GeoLocateHttpPort" />
      <endpoint address="http://localhost/rpc/company:public/services/TransactionService"
      	binding="basicHttpBinding" bindingConfiguration="TransactionServiceHttpBinding"
      	contract="efipaceservices.TransactionServicePortType" name="TransactionServiceHttpPort"/>
    </client>
  </system.serviceModel>
</configuration>